.footer {
  margin-top: auto;
  padding-top: 13%;

  .container {
    .footer-icons-block {
      display: flex;
      gap: 80px;
      margin-bottom: 25px;
      @media (max-width: 1029px) {
        gap: 20px;
      }
      @media (max-width: 793px) {
        justify-content: space-between;
      }

      .icons-block-link {
        display: flex;
        gap: 20px;
        align-items: center;
        transition: all .2s ease-in;
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }

        svg {
          width: 50px;
          height: 50px;
        }

      }

      .icons-block-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        @media (max-width: 793px) {
          display: none;
        }
      }
    }

    .footer-information {
      @media (max-width: 1005px) {
        padding: 10px 0;
      }
      @media (max-width: 700px) {
        display: flex;
        justify-content: center;
      }

      .information {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 64px;
        @media (max-width: 1698px) {
          grid-column-gap: 20px;
          flex-wrap: wrap;
        }

        @media (max-width: 983px) {
          grid-template-columns: repeat(4, 1fr)
        }
        @media (max-width: 777px) {
          grid-template-columns: repeat(3, 1fr)
        }
        @media (max-width: 700px) {
          display: flex;
          flex-direction: column;
          row-gap: 20px;
        }

        .footer-information-content {
          display: flex;
          flex-direction: column;
          gap: 15px;
          position: relative;
          transition: all 0.3s;

          //&:hover {
          //  .information-body {
          //    position: relative;
          //    opacity: 1;
          //    visibility: visible;
          //    left: 0;
          //  }
          //}


          .information-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;

          }

          .information-body {
            //@media (max-width: 700px) {
            //  position: fixed;
            //  left: -100%;
            //  opacity: 0;
            //  visibility: hidden;
            //
            //}

            .information-list {
              display: flex;
              flex-direction: column;
              gap: 10px;

              .information-item {
                .information-link {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 130%;
                  color: #494949;
                  position: relative;
                  @media (max-width: 664px) {
                    font-size: 15px;
                  }


                  &:after {
                    display: block;
                    position: absolute;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: #14609B;
                    content: "";
                    transition: width 0.3s ease-out;
                  }

                  &:hover:after,
                  &:focus:after {
                    width: 100%;
                  }
                }
              }
            }
          }

          .information-info {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #000000;
            position: relative;


            &:after {
              display: block;
              position: absolute;
              left: 0;
              width: 0;
              height: 2px;
              background-color: #14609B;
              content: "";
              transition: width 0.3s ease-out;
            }

            &:hover:after,
            &:focus:after {
              width: 100%;
            }

          }
        }

        .symbology {
          display: flex;
          flex-direction: column;
          row-gap: 14px;
          max-width: 230px;
          justify-content: flex-start;
          //@media (max-width: 912px) {
          //  display: contents;
          //  flex-direction: row;
          //  justify-content: space-between;
          //  gap: 15px;
          //  max-width: 100%;
          //}

          .symbology-wrap {
            display: flex;
            column-gap: 20px;
            align-items: center;


            .symbology-text {
              font-weight: 400;
              font-size: 14px;
              line-height: 16px;
              color: #9C9C9C;
            }


          }
        }
      }


    }

    .footer-about {
      padding-top: 35px;
      display: flex;
      justify-content: space-between;
      gap: 10px;
      align-items: end;
      margin-bottom: 45px;
      @media (max-width: 799px) {
        padding-top: 20px;
        margin-bottom: 20px;
      }

      .about-block {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #9C9C9C;

        .about-name {

        }

      }

      .about-icons {
        display: flex;
        gap: 10px;

        .about-icons-block {
          svg {
            width: 20px;
            height: 20px;
          }

        }
      }
    }
  }
}
.spollers {
  display: grid;
  gap: 15px;
}
// Спойлер
.spollers__item {
 // font-size: rem(20);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
 // padding: rem(10) rem(15);
  border-radius: 5px;
  position: relative;
  ._spoller-init & {
    cursor: pointer;
    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      background-color: #000;
      height: 2px;
      width: 15px;
      transition: transform 0.5s ease 0s;
    }
    &::before {
      transform: translate(-75%, -50%) rotate(40deg);
    }
    &::after {
      transform: translate(0, -50%) rotate(-40deg);
    }
    &._spoller-active {
      &::before {
        transform: translateX(-75%) rotate(-40deg);
      }
      &::after {
        transform: rotate(40deg);
      }
    }
  }
}
// Контент спойлера
.spollers__body {
  padding: 20px;
  border-radius:5px;
  border: 1px solid #eee;
}
