.header {
  color: #0b0b0b;
  width: 100%;
  display: flex;
  background: $white;
  font-size: 14px;
  padding: 18px 0 32px 0;
  @media (max-width: 426px) {
    padding: 15px 0 20px 0;
  }


  .container {
    .header-block {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      align-items: flex-end;
      @media (max-width: 1305px) {
        row-gap: 10px;
      }

      .system {
        .system-header {
          display: flex;
          column-gap: 16px;


          @media (max-width: 1305px) {
            column-gap: 5px;
            text-align: center;
          }
          @media (max-width: 767px) {
            .header-burger {
              display: block;
              position: relative;
              width: 25px;
              height: 20px;
              margin-bottom: 8px;
              z-index: 11;

              &:before,
              &:after {
                content: "";
                background-color: #000000;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
              }

              &:before {
                top: 0;
              }

              &:after {
                bottom: 0;
              }

              span {
                position: absolute;
                background-color: #000000;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px;
              }
            }
          }

          ._active {
            &:before {
              transform: rotate(45deg);
              top: 9px;
              transition: all 0.3s ease 0s;
            }

            &:after {
              transform: rotate(-45deg);
              bottom: 9px;
              transition: all 0.3s ease 0s;
            }

            span {
              transform: scale(0);
              transition: all 0.3s ease 0s;
            }

          }


          .icon {
            width: 24px;
            height: 24px;
          }

          a {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #000000;
            position: relative;
            @media (max-width: 394px) {
              font-size: 13px;
            }


            &:after {
              display: block;
              position: absolute;
              left: 0;
              width: 0;
              height: 2px;
              background-color: #14609B;
              content: "";
              transition: width 0.3s ease-out;
            }

            &:hover:after,
            &:focus:after {
              width: 100%;
            }

          }
        }

      }

      .navigation {
        display: flex;
        align-items: flex-end;
        gap: 10px;

        .logo {
          display: flex;
          column-gap: 16px;
          align-items: flex-end;


          .logo-imag {
            min-width: 50px;
          }

          .logo-text {
            max-width: 290px;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            color: #000000;
            @media (max-width: 394px) {
              font-size: 13px;
            }
          }
        }

        .menu__body {
          @media (max-width: 767px) {
            position: fixed;
            top: 0;
            right: -100%;
            width: 100%;
            height: 100%;
            background-color: white;
            padding: 60px 0 0 0;
            transition: all 0.3s ease 0s;
            z-index: 10;
            &._active {
              right: 0;
            }
          }

          .menu__list {
            display: flex;
            gap: 10px;
            @media screen and (max-width: 1440px) {
              .menu__list {
                flex-wrap: wrap;
              }
            }
            @media (max-width: 883px) {
              justify-content: center;
            }
            @media (max-width: 767px) {
              display: flex;
              gap: 15px;
              text-align: center;
              flex-direction: column;
              font-size: 15px;
            }


            .menu__item {
              .menu__link {
                color: #000000;
                padding: 10px 20px;
                transition: all .3s ease-in;
                &:hover {
                  padding: 10px 20px;
                  gap: 10px;
                  background: #14609B;
                  border-radius: 1000px;
                  color: white;
                }
                @media (max-width: 1305px) {
                  padding: 5px 10px;
                }
                @media (max-width: 767px) {
                  padding: 5px 10px;
                  &:hover {
                    padding: 5px 10px;
                  }
                }

              }
            }
          }
        }

        .system-footer {
          display: flex;
          column-gap: 16px;
          justify-content: flex-end;
          align-items: flex-end;
          @media (max-width: 1305px) {
            column-gap: 10px;
          }
          @media (max-width: 883px) {
            align-items: center;
          }

          a {
            color: #000000;

            .icon {
              width: 24px;
              height: 27px;
            }
          }


          .input-box {
            position: relative;
            width: 100%;
            max-width: 60px;
            height: 55px;
            margin-right: 20px;
            background-color: #fff;
            border-radius: 6px;
            transition: all 0.5s ease-in-out;
            @media (max-width: 767px) {
              display: none;
            }


            &.open {
              max-width: 350px;

              input {
                padding: 0 15px 0 65px;
              }

              .search {
                border-radius: 6px 0 0 6px;
              }

              .close-icon {
                transform: translateY(-50%) rotate(180deg);
                pointer-events: auto;
                opacity: 1;
              }
            }

            input {
              position: relative;
              width: 100%;
              height: 100%;
              font-weight: 400;
              color: #333;
              padding: 0 15px;
              border: none;
              border-radius: 6px;
              outline: none;
              transition: all 0.3s ease-in-out;
            }

            .search {
              position: absolute;
              top: 0;
              left: 0;
              width: 60px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: flex-end;
              background-color: #fff;
              border-radius: 6px;
              cursor: pointer;
              @media (max-width: 883px) {
                top: -10px;
              }
            }

            .close-icon {
              position: absolute;
              top: 69%;
              right: -32px;
              font-size: 30px;
              color: #1c1c1c;
              padding: 5px;
              transform: translateY(-50%);
              transition: all 0.5s ease-in-out;
              cursor: pointer;
              pointer-events: none;
              opacity: 0;
            }
          }

          .search .search-icon {
            font-size: 30px;
            color: #1c1c1c;

            svg {
              width: 32px;
              height: 32px;
            }
          }

        }

      }

    }
  }
}

@media (max-width: 1424px) {
  .menu__list {
    flex-wrap: wrap;
  }
}

@media (max-width: 1424px) {
  .system-header {
    gap: 10px;
    justify-content: end;
  }
}

@media (max-width: 958px) {
  .system {
    gap: 0;
  }
}

