.know {
  background-position: center;
  background-size:100%;
  background-image: url("../../img/main/know/know.png");
  height: 14vw;
  position: relative;
  cursor: pointer;
  margin-bottom: 128px;
  .know-link {
    .container {
      .know-wrapper {
        position: absolute;
        top: 30%;
        left: 9%;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        color: #000000;

        .know-title {
          font-weight: 600;
          font-size: 42px;
          line-height: 49px;
        }

        .know-text {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
        }
      }
    }
  }
}
