.know {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size:  100% auto;
  padding-bottom: 14%;
  background-image: url("../../img/main/know/know.png");
  cursor: pointer;
  margin-bottom: 128px;
  @media (max-width: 1189px) {
    margin-bottom: 20px;
  }

  @media (max-width: 860px) {
    background-size:  100% 100%;
    margin-bottom: 30px;
    padding-bottom: 17%;
  }
  .swiper-pagination-horizontal {
    @media (max-width: 769px) {
      display: none;
    }

  }


  .container {
    .know-link {
      position: relative;
      width: 100%;
      .know-wrapper {
        position: absolute;
        top: 45px;
        left: 0;
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        color: #000000;
        @media (max-width: 1104px) {
          top: 10px;
        }
        @media (max-width: 860px) {
          top: 0;
          row-gap: 8px;
        }
        @media (max-width: 426px) {
          top: -25px;
        }

        .know-title {
          font-weight: 600;
          font-size: 42px;
          line-height: 49px;
          @media (max-width: 768px) {
            font-size: 25px;
          }
        }

        .know-text {
          font-weight: 500;
          font-size: 18px;
          line-height: 21px;
          @media (max-width: 768px) {
            font-size: 17px;
          }

        }
      }
    }
  }
}
