/* News */
.news {
  margin-bottom: 167px;

  .container {
    .news-wrapper {
      display: flex;
      gap: 35px;
      padding-top: 128px;

      .news-block {
        display: flex;
        flex-direction: column;
        width: calc(72.5% - 35px);
        max-width: 1183px;

        .news-text {
          display: flex;
          justify-content: space-between;
          margin-bottom: 38px;

          .news-title {
            font-weight: 600;
            font-size: 42px;
            line-height: 49px;
            color: #000000;
          }

          .news-btn {

            transition: all .3s ease-in;

            a {
              color: #282828;

              &:hover {
                border-bottom: 2px solid #14609B;
              }
            }
          }

        }

        .posts {
          display: flex;
          gap: 8px;
          margin-bottom: 32px;
          justify-content: space-between;

          .post {
            display: flex;
            flex-direction: column;
            gap: 8px;
            max-width: 399px;
            width: calc(100% / 3);


            .post__img {
              img {
                width: 100%;

              }
            }

            .post__content {
              font-size: 16px;
              line-height: 130%;
              color: #000000;
              display: flex;
              flex-direction: column;


              .post__title {
                font-weight: 500;
                font-size: 26px;
                line-height: 30px;
                padding-top: 16px;
                flex: 1 1 auto;
              }

              .post__desc {
                font-weight: 400;
                font-size: 18px;
                line-height: 145%;
                padding-top: 8px;
              }
            }
          }
        }

        .block-scroll {
          width: 100%;
          height: 100%;

          .mySwiper-scroll {
            width: 100%;
            height: 100%;
            border-bottom: 2px solid #DCDCDC;
            border-top: 2px solid #DCDCDC;

            .swiper-slide-scroll {
              text-align: center;
              font-size: 18px;
              background: #fff;
              display: flex;
              justify-content: center;
              align-items: center;

              .scroll-content {
                display: flex;
                flex-direction: column;
                gap: 8px;
                color: #000000;

                .scroll-date {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 130%;
                }

                .scroll-title {
                  font-weight: 500;
                  font-size: 22px;
                  line-height: 26px;
                  color: #000000;

                }
              }
            }
          }

        }

        @media (max-width: 1189px) {
          width: 100%;
        }

      }

      .mySwiper-two {
        width: 27.5%;
        height: 100%;
        margin: 0;


        .swiper-block {
          display: flex;
          justify-content: space-between;
          gap: 10px;
          margin-bottom: 36px;

          .swiper-block-title {
            font-weight: 500;
            font-size: 26px;
            line-height: 30px;
            color: #000000;
          }

          .swiper-block-link {
            font-size: 16px;
            line-height: 19px;
            color: #282828;
            transition: all .3s ease-in;

            a {
              color: #282828;

              &:hover {
                border-bottom: 2px solid #14609B;
              }
            }
          }
        }

        .swiper-slide-two {
          background: white;
          display: flex;
          flex-direction: column;
          padding-left: 0;

          .swiper-items {
            text-align: start;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .swiper-title {
              font-size: 26px;
              line-height: 30px;
              color: #000000;
            }

            .swiper-text {
              padding-bottom: 8px;
              font-weight: 400;
              font-size: 18px;
              line-height: 145%;
              color: #000000;
            }

            .swiper-desc {
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              color: #000000;
              padding-top: 8px;
            }

            .swiper-date {
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              color: #000000;
              padding-bottom: 8px;
            }

            .swiper-time {
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              color: #000000;
              padding-bottom: 8px;
            }

            .swiper-place {
              margin-bottom: 40px;

            }


            img {

            }
          }
        }

        //@media (max-width: 1189px) {
        //  .swiper-slide-two {
        //    width: 100%;
        //  }
        //
        //}
      }

      //@media (max-width: 1189px) {
      //  .news-wrapper {
      //    flex-direction: column;
      //    width: 100%;
      //    gap: 15px;
      //  }
      //}
    }

  }

}
