.projects {
  margin-bottom: 172px;
  @media (max-width: 1189px) {
    margin-bottom: 20px;
  }

  .container {
    .projects-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 32px;

      .projects-items {
        display: flex;
        justify-content: space-between;

        .project-title {
          font-weight: 600;
          font-size: 42px;
          line-height: 49px;
          color: #000000;
          @media (max-width: 768px) {
            font-size: 35px;
          }
        }

        .project-button {
          align-items: center;
          transition: all .3s ease-in;

          a {
            padding: 15px 26px;
            color: #282828;
            border: 1px solid #9A9A9A;
            border-radius: 1000px;
            &:hover {
              color: #FFFFFF;
              background-color: #14609B;;
            }
          }
        }
      }

      .projects-slider {
        background-color: #0b0b0b;
        width: 100%;
        height:100%;

        .slider-projects {
          .slider-content {
            background-color: white;
            background-image: none;
            padding-left: 0;


            .swiper-content {
              display: flex;
              column-gap: 64px;

              @media (max-width: 926px) {
                flex-wrap: wrap;
                flex-direction: column;
                padding-top: 20px;
              }
              .project-imag {
                img {
                  width: 100%;
                  height: 100%;
                  //object-fit: cover;
                }
              }

              .project-about {
                flex: 0 0 45%;
                align-self: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 16px;
                align-items: flex-start;

                .about-title {
                  font-weight: 500;
                  font-size: 32px;
                  line-height: 38px;
                  color: #000000;
                }

                .about-text {
                  text-align: initial;
                  @media (max-width: 1189px) {
                    font-size: 14px;
                  }

                }

                .about-button {
                  box-shadow: 0px 4px 38px rgba(255, 255, 255, 0.25);
                  transition: all .3s ease-in;
                  a {
                    padding: 22px 60px;
                    color: #282828;
                    border: 1px solid #9A9A9A;
                    border-radius: 181px;
                    @media (max-width: 1189px) {
                      padding: 10px 40px;
                    }
                    &:hover {
                      color: #FFFFFF;
                      background-color: #14609B;
                    }
                  }
                }
              }
            }
          }

        }


      }

    }
  }
}

