.swiper {
  width: 100%;
  height: 710px;
  .swiper-pagination-horizontal {
    @media (max-width: 769px) {
      display: none;
    }

  }

  &-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    align-items: center;
    background-position: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../img/main/slider/slider.png");
    background-color: #0d95e8;
    background-position: 0 0;
    background-repeat: no-repeat;
    //background-size: 100% 100%;
    background-size: auto 100%;
    justify-content: start;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slider-block {
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      text-align: left;
      color: #FFFFFF;
      gap: 16px;

      .title {
        font-weight: 600;
        font-size: 64px;
        line-height: 75px;
        @media (max-width: 768px) {
          font-size: 45px;
        }
      }

      .text {
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        max-width: 659px;
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

      .btn {
        cursor: pointer;
        transition: all .3s ease-in;

        a {
          align-items: center;
          padding: 22px 60px;
          background: #296188;
          box-shadow: 0 4px 38px rgba(255, 255, 255, 0.25);
          border-radius: 181px;
          @media (max-width: 768px) {
            padding: 12px 30px;
          }

          &:hover {
            background: #07466b;
            color: white;
          }
        }
      }
    }
  }
}
