
section.container
    .adaptive
        .block
            img(src="./../img/main/blocks/schoolboy.png")
            .block-text Школьнику
        .block
            img(src="./../img/main/blocks/applicant.png")
            .block-text Абитуриенту
        .block
            img(src="./../img/main/blocks/student.png")
            .block-text Студенту
        .block
            img(src="./../img/main/blocks/graduate.png")
            .block-text Выпускнику


