// -
//     let navDate = ['Университет','Образование','Наука','International','Контакты','Курсы'];
//svg
               //    use(href=`./img/svg/arrow.svg#arrow`)
header.header
    .container
        .header-bloc
            .logo
                .logo-imag
                    img(src="../../img/header/logo.png")
                .logo-text Минский государственный лингвистический университет
                    //+navigation('Университет','Образование','Наука','International','Контакты','Курсы')
            .navigation
                nav.menu__body
                    ul.menu__list
                        li.menu__item: a.menu__link(href='#') Университет
                            li.menu__item: a.menu__link(href='#') Образование
                                li.menu__item: a.menu__link(href='#') Наука
                                    li.menu__item: a.menu__link(href='#') International
                                        li.menu__item: a.menu__link(href='#') Контакты
                                            li.menu__item: a.menu__link(href='#') Курсы
            .system
                .system-header
                    a(href='#') Система обращений
                    a(href='#') Система обращений
                    a(href='#') Рупозиторий МГЛУ
                    a(href='#') RU
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 6L8 11L3 6" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    a(href='#')
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 7C6.28571 7 4 12 4 12C4 12 6.28571 17 12 17C17.7143 17 20 12 20 12C20 12 17.7143 7 12 7Z" stroke="#101828" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z" stroke="#101828" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>

                .system-footer
                    .input-box
                        input(type='text', placeholder='Search...')
                        span.search
                            i.uil.uil-search.search-icon
                            <svg  id="search" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.875 19.25C15.2242 19.25 18.75 15.7242 18.75 11.375C18.75 7.02576 15.2242 3.5 10.875 3.5C6.52576 3.5 3 7.02576 3 11.375C3 15.7242 6.52576 19.25 10.875 19.25Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.4438 16.9437L21.0001 21.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>

                        i.uil.uil-times.close-icon X
                    a(href='#')
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18 20.75V4.25C18 3.42157 17.3284 2.75 16.5 2.75L7.5 2.75C6.67157 2.75 6 3.42157 6 4.25L6 20.75C6 21.5784 6.67157 22.25 7.5 22.25H16.5C17.3284 22.25 18 21.5784 18 20.75Z" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 7.25C12.6213 7.25 13.125 6.74632 13.125 6.125C13.125 5.50368 12.6213 5 12 5C11.3787 5 10.875 5.50368 10.875 6.125C10.875 6.74632 11.3787 7.25 12 7.25Z" fill="#101828"/>
                        </svg>

                    a(href='#')
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 15.5C15.3137 15.5 18 12.8137 18 9.5C18 6.18629 15.3137 3.5 12 3.5C8.68629 3.5 6 6.18629 6 9.5C6 12.8137 8.68629 15.5 12 15.5Z" stroke="#101828" stroke-width="2" stroke-miterlimit="10"/>
                        <path d="M2.90625 20.75C3.82775 19.1536 5.15328 17.8278 6.74958 16.9061C8.34588 15.9844 10.1567 15.4991 12 15.4991C13.8433 15.4991 15.6541 15.9844 17.2504 16.9061C18.8467 17.8278 20.1722 19.1536 21.0938 20.75" stroke="#101828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    a(href='#')
                        <svg width="32" height="33" viewBox="0 0 32 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="32" height="32" transform="translate(0 0.5)" fill="white"/>
                        <path d="M5 16.5H27" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5 8.5H27" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5 24.5H27" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>



