-
    const navBar = [
        {
            title: 'Университет',
            path: 'university'
        },
        {
            title: 'Образование',
            path: 'education'
        },
        {
            title: 'Наука',
            path: 'science'
        },
        {
            title: 'International',
            path: 'international'
        },
        {
            title: 'Контакты',
            path: 'contacts'
        },
        {
            title: 'Курсы',
            path: 'cources'
        }
    ];

header.header
    .container
        .system-header
            .system-logo
                a.logo-imag
                    img(src="../../img/header/logo.png" alt="Логотип Минский государственный лингвистический университет ")
                .logo-text Минский государственный лингвистический университет
            .system-navigation
                nav.menu__body(data-burger-menu)
                    ul.menu__list
                      each item in navBar
                          li.menu__item
                              a.menu__link(href=`./${item.path}`) #{item.title}
            .system-rights(data-burger-menu)
                .rights-header
                    a(href='#') Система обращений
                    a(href='#') Репозиторий МГЛУ
                    .language
                        p RU
                        svg.icon
                            use(href=`./img/header/svg/arrow.svg#arrow`)
                    svg.icon.icon-eye
                        use(href=`./img/header/svg/eye.svg#eye`)
                .rights-footer
                    .container-search
                        form.search-form(role='search', method='get', action='')
                            label
                                input.search-field(type='search', placeholder='Search …', value='', name='s', title='',autocomplete="off")
                            //input.search-submit(type='submit', value='')
                    a(href='#')
                        svg.icon
                            use(href=`./img/header/svg/mobile.svg#mobile`)
                    a(href='#')
                        svg.icon
                            use(href=`./img/header/svg/user.svg#user`)
            button(data-action="burger-menu-switcher").header-burger
              -for (let i = 0; i < 3; i++)
                                                span
