// -
//     let navDate = ['Университет','Образование','Наука','International','Контакты','Курсы'];
//svg
               //    use(href=`./img/svg/arrow.svg#arrow`)
header.header
    .container
        .header-bloc
            .logo
                .logo-imag
                    img(src="../../img/header/logo.png")
                .logo-text Минский государственный лингвистический университет
                    //+navigation('Университет','Образование','Наука','International','Контакты','Курсы')
            .navigation
                nav.menu__body
                    ul.menu__list
                        li.menu__item: a.menu__link(href='#') Университет
                            li.menu__item: a.menu__link(href='#') Образование
                                li.menu__item: a.menu__link(href='#') Наука
                                    li.menu__item: a.menu__link(href='#') International
                                        li.menu__item: a.menu__link(href='#') Контакты
                                            li.menu__item: a.menu__link(href='#') Курсы
            .system
                .system-header
                    a(href='#') Система обращений
                    a(href='#') Рупозиторий МГЛУ
                    a(href='#') RU
                        a(href='#')
                            svg.icon
                                use(href=`./img/header/svg/arrow.svg#arrow`)
                        a(href='#')
                            svg.icon
                                use(href=`./img/header/svg/eye.svg#eye`)
                .system-footer
                    .input-box
                        input(type='text', placeholder='Search...')
                        span.search
                            i.uil.uil-search.search-icon
                            a(href='#')
                                svg.icon
                                    use(href=`./img/header/svg/search.svg#search`)
                        i.uil.uil-times.close-icon X
                    a(href='#')
                        svg.icon
                            use(href=`./img/header/svg/mobile.svg#mobile`)
                    a(href='#')
                        svg.icon
                            use(href=`./img/header/svg/user.svg#user`)
                    a(href='#')
                        svg.icon
                            use(href=`./img/header/svg/burger.svg#burger`)



