link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
section.news
    .container
        .news-wrapper
            .news-block
                .news-text
                    h2.news-title Новости
                    .news-btn
                        a(href="#") Смотреть все
                .posts
                    .post
                        .post__img
                            img(src="img/main/news/one.png")
                        .post__content
                            .post__sub-title Творчество/Делагации
                            .post__date 14 января 2022
                            .post__title Открывая Беларусь по-новому
                            .post__desc В целях привлечения внимания общественности к рациональному использованию ресурсов и развитию возобновляемых источников энергии
                    .post
                        .post__img
                            img(src="img/main/news/two.png")
                        .post__content
                            .post__sub-title Творчество/Делагации
                            .post__date 14 января 2022
                            .post__title Итоги семинара «Новые методы работы с рукописью»
                            .post__desc В целях привлечения внимания общественности к рациональному использованию ресурсов и развитию возобновляемых источников энергии
                    .post
                        .post__img
                            img(src="img/main/news/three.png")
                        .post__content
                            .post__sub-title Творчество/Делагации
                            .post__date 14 января 2022
                            .post__title Болеем за биатлон
                            .post__desc В целях привлечения внимания общественности к рациональному использованию ресурсов и развитию возобновляемых источников энергии
                .block-scroll
                    .swiper.mySwiper.mySwiper-scroll
                        .swiper-wrapper.scroll-wrapper
                            .swiper-slide.swiper-slide-scroll
                                .scroll-content
                                    .scroll-date 30 января 2022
                                    .scroll-title Итоги семинара «Новые методы работы с рукописью»
                            .swiper-slide.swiper-slide-scroll
                                .scroll-content
                                    .scroll-date 22 января 2022
                                    .scroll-title Итоги семинара «Новые методы работы с рукописью»
                            .swiper-slide.swiper-slide-scroll
                                .scroll-content
                                    .scroll-date 14 января 2022
                                    .scroll-title Сделай первый шаг в науку!
                            .swiper-slide.swiper-slide-scroll
                                .scroll-content
                                    .scroll-date 10 января 2022
                                    .scroll-title Итоги семинара «Новые методы работы с рукописью»
                            .swiper-slide.swiper-slide-scroll
                                .scroll-content
                                    .scroll-date 10 января 2022
                                    .scroll-title Итоги семинара «Новые методы работы с рукописью»
                        .swiper-scrollbar
            .swiper.mySwiper.mySwiper-two
                .swiper-block
                    h3.swiper-block-title Анонсы
                    .swiper-block-link
                        a(href="#") Перейти
                .swiper-wrapper
                    .swiper-slide.swiper-slide-two
                        .swiper-items
                            .items-content-block
                                .swiper-title Итоги семинара «Новые методы работы с рукописью»
                                .swiper-text  В целях привлечения внимания общественности к рациональному использованию ресурсов и развитию возобновляемых источников энергии
                                .swiper-desc Творчество / Делагации
                                .swiper-date 14 января 2022
                                .swiper-time Время
                                .swiper-place Место
                            .swiper-img
                                img(src="img/main/news/one.png")
                    .swiper-slide.swiper-slide-two
                        .swiper-items
                            .items-content-block
                                .swiper-title Итоги семинара «Новые методы работы с рукописью»
                                .swiper-text  В целях привлечения внимания общественности к рациональному использованию ресурсов и развитию возобновляемых источников энергии
                                .swiper-desc Творчество / Делагации
                                .swiper-date 14 января 2022
                                .swiper-time Время
                                .swiper-place Место
                            .swiper-img
                                img(src="img/main/news/two.png")
                    .swiper-slide.swiper-slide-two
                        .swiper-items
                            .items-content-block
                                .swiper-title Итоги семинара «Новые методы работы с рукописью»
                                .swiper-text  В целях привлечения внимания общественности к рациональному использованию ресурсов и развитию возобновляемых источников энергии
                                .swiper-desc Творчество / Делагации
                                .swiper-date 14 января 2022
                                .swiper-time Время
                                .swiper-place Место
                            .swiper-img
                                 img(src="img/main/news/three.png")
                .swiper-pagination


