.partners
    .partners-wrapper
        .partners-about
            .container
                .partners-title Партнеры
        .partners-block
            .swiper.mySwiper.partners-slider
                .swiper-wrapper.partners-slider-wrapper
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
