link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')

section.partners
    .partners-wrapper
        .partners-about
            .container
                h1.partners-title Партнеры
        .partners-block
            .swiper.mySwiper.partners-slider
                .swiper-wrapper.partners-slider-wrapper
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
                    .swiper-slide.partners-slider-imag
                        img(src="img/main/partners/partners.png")
