link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')
section.projects
    .container
        .projects-wrapper
            .projects-items
                h1.project-title Наши проекты
                .project-button
                    a(href="#") Смотреть все
            .swiper.mySwiper.projects-slider
                .swiper-wrapper.slider-projects
                    .swiper-slide.slider-content
                        .swiper-content
                            .project-imag
                                img(src="img/main/projects/projects.png")
                            .project-about
                                .about-title Заголовок 1
                                .about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. At amet posuere a, et quis nisi, potenti. Id volutpat augue id amet penatibus amet porttitor quis sed. Lectus convallis eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium. eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium.
                                .about-button
                                    a(href="#") Перейти
                    .swiper-slide.slider-content
                        .swiper-content
                            .project-imag
                                img(src="img/main/projects/projects.png")
                            .project-about
                                .about-title Заголовок 2
                                .about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. At amet posuere a, et quis nisi, potenti. Id volutpat augue id amet penatibus amet porttitor quis sed. Lectus convallis eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium. eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium.
                                .about-button
                                    a(href="#") Перейти
                    .swiper-slide.slider-content
                        .swiper-content
                            .project-imag
                                //img(src="img/main/news/three.png")
                                img(src="img/main/projects/projects.png")
                            .project-about
                                .about-title Заголовок 3
                                .about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. At amet posuere a, et quis nisi, potenti. Id volutpat augue id amet penatibus amet porttitor quis sed. Lectus convallis eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium. eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium.
                                .about-button
                                    a(href="#") Перейти
                    .swiper-slide.slider-content
                        .swiper-content
                            .project-imag
                                img(src="img/main/projects/projects.png")
                            .project-about
                                .about-title Заголовок 4
                                .about-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. At amet posuere a, et quis nisi, potenti. Id volutpat augue id amet penatibus amet porttitor quis sed. Lectus convallis eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium. eu sit pharetra ullamcorper purus. Volutpat sit ac nunc nulla magna tempus. Metus vestibulum urna orci arcu pretium.
                                .about-button
                                    a(href="#") Перейти
                .swiper-pagination

