link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css')
script(src='https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js')

.swiper.mySwiper
    .swiper-wrapper
        .swiper-slide
            .slider-block
                p.title Заголовок 1
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida.
                  .btn
                    a.button Перейти
        .swiper-slide
            .slider-block
                p.title Заголовок 2
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida.
                .btn
                    a.button Перейти
        .swiper-slide
            .slider-block
                p.title Заголовок 3
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida.
                .btn
                    a.button Перейти
        .swiper-slide
            .slider-block
                p.title Заголовок 4
                p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ac arcu, vitae lacus aliquam. Egestas dis diam amet et iaculis gravida.
                .btn
                    a.button Перейти
    .swiper-pagination
